<% block('header', '<a href="#company-select-modal" data-toggle="modal" class="button"><small>Request access to</small> Private GitHub</a>') -%>

<% layout('./layout') -%>

<h2>To gain access, simply follow the next steps:</h2>
<ol>
  <li>Create a GitHub account if you don’t have one.</li>
  <li>Make sure your github profile includes a <b>verified email address</b> that belongs or gives access to a company within the Telefonica ecosystem.</li>
  <li>Request access by clicking the button at the upper right hand side corner of this page</li>
  <li>Select your company within the Telefonica ecosystem</li>
  <li>You'll be redirected to github. Authenticate (if not already logged in) and authorize our application to access to your profile's personal user data.</li>
  <li>If you comply with step 2, you'll be automatically invited to join our organization. Just head to github and make sure to accept our invitation (you'll directly find it at the top of <a href="https://github.com/Telefonica/" target="_blank">https://github.com/Telefonica/</a> or in your github account inbox).</li>
  <li>You're done!!</li>
</ol>
<p>Contact <a href="mailto:epg@tid.es">epg@tid.es</a> in case of problems.</p>

<!-- Modal -->
<div class="modal fade" id="company-select-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title">
  <div class="modal-dialog" role="document">
    <form id="register" role="form">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="modal-title">Chose your company before continuing</h2>
        </div>
        <div class="modal-body">
          <select id="company" name="company" class="selectpicker" data-live-search="true">
            <option id="select-company-opt"
                    value="Select your company"
                    required
                    disabled
                    selected>
                Select your company
            </option>
            <% for(var i=0; i<companies.length; i++) {%>
              <option value="<%= companies[i] %>"><%= companies[i] %></option>
            <% } %>
          </select>
        </div>
        <div class="modal-footer">
          <button id="submit-btn-company" type="submit" class="btn btn-primary">Accept</button>
        </div>
      </form>
    </div>
  </div>
</div>
